:root {
    --navbar_height: 50px;
    --text_color: rgb(201, 185, 175);
    --background_color: rgb(32, 32, 32);
}

.text
{
    color: var(--text_color);
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: JetBrains mono;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 130%;
}

html {
    scroll-behavior: smooth;
}

body
{
    background-color: var(--background_color);
    margin: 0;
    overscroll-behavior: none;
}

.subtle_link {
    color: var(--text_color);
}
.link {
    color: rgb(83, 156, 224);
}
.link:hover, .subtle_link:hover {
    color: rgb(191, 224, 255);
    text-shadow: 0px 0px 20px rgb(83, 156, 224);
}

.main_title {
    font-size: 120px;
}

.sub_title {
    font-size: 30px;
}

.icon {
    width: 400px;
    height: 400px;
    border-radius: 400px;
}

.horizon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--navbar_height));
    width: 100%;
    color: var(--text_color);
    /* margin-top: var(--navbar_height); */
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 200px;
    overflow: hidden;
}

.horizon_inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    background-color: rgba(32, 32, 32, 0.5);
    backdrop-filter: blur(20px);
    border: 4px solid var(--text_color);
    box-sizing: border-box;
    padding: 70px;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items:start;
    /* border: 2px solid red; */
    justify-content: center;
    height: 300px;
    margin-left: 50px;
}

.screenshot {
    width: 100%;
    margin-bottom: 20px;
}

.vid {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.1);
}

.spacer {
    height: 250px;
}

.small_spacer {
    height: 80px;
}

.navbar_gap {
    width: 100%;
    height: var(--navbar_height);
}

.navbar {
    display: flex;
    width: 100%;
    height: var(--navbar_height);
    top: 0;
    position: fixed;
    color: var(--background_color);
    background-color: var(--text_color);
    font-family: JetBrains Mono;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
}

.navbar_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#corner_text{
    margin-left: 15px;
    font-size: 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.navbutton {
    font: inherit;
    color: inherit;
    border: none;
    border-radius: 0;
    background-color: rgb(41, 41, 41);
    margin: 8px;
    color: var(--text_color);
    cursor: pointer;
}
.navbutton:hover {
    background-color: #6e6e6e;
}
.body_text {
    font-size: 26px;
    margin-left: 50px;
    margin-right: 20px;
    /* letter-spacing: 0.3px; */
    /* text-indent: 50px; */
}

.contact_list {
    display: flex;
    gap: 70px;
    /* width: 800px; */
    /* border: 3px solid red; */
    /* justify-content: space-between; */
}

.section_title {
    font-size: 85px;
    margin-left: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}

.header {
    font-size: 45px;
    margin-left: 50px;
    margin-bottom: 15px;
    font-weight: bold;
}

#glcanvas {
    width: 100%;
    /* height: 100%; */
    z-index: -1;
    position: absolute;
    top: 0;
}

.bold {
    font-weight: bold;
}

.add_space {
    margin-bottom: 20px;
}

.darker {
    color:#797979;
    /* font-size: 22px; */
    /* font-style: italic; */
}

.listingA {
    font-size: 30px;
    color: var(--text_color);
    font-style: italic;
}

.listingB {
    color: rgb(219, 176, 141);
}
.listingC {
    color: rgb(172, 172, 172);
    font-style: italic;
}
.listingD {
    color: rgb(104, 180, 142);
}
.listingE {
    color: rgb(139, 187, 202);
}
.listingF {
    color: rgb(175, 156, 218);
}
.listingG {
    color: rgb(210, 138, 212);
}